<!--网站页首-->
{{template "../tpl/user/user.header.tpl" .}}
<!--/网站页首-->


	<div class="compare-index-banner">
	<div class="compare-index-header">

<!-- nav导航-->
    <nav class="navbar mynavbar" role="navigation">
              
               <div class="container-fluid pt10">
              <a href="/" class="pull-left compare-index-logo wow fadeInUp" > <img class="index-logo" src="/static/css/images/BTC_logo.png">中国最可靠的数字货币比价平台</a>
                    <div id="example-navbar-collapse" class="collapse navbar-collapse pull-right">

                    <ul id="menu-menu" class="nav navbar-nav">
                     <li class="dropdown wow fadeInUp"><a title="网站公告" href="common.html">网站公告</a></li>
                     <li class="dropdown wow fadeInUp"><a title="费用链接" href="paylink.html">费用链接</a></li>
                     <li class="dropdown wow fadeInUp"><a  class="index-login" title="登录" href="/login">登录</a></li>
                     <li class="dropdown wow fadeInUp"><a class="index-reg" title="注册" href="/reg">注册</a></li>
                    </ul>

                    </div>            
                  </div>      
     </nav>
<!-- /nav导航-->


<!--比价页面预览-->
<div class="container mt50">
    <div class="compare-index-yulan wow slideInLeft">
 <p class="wow fadeInUp" style="text-align:center;color:#666;font-size:50px;padding-top:10%;">登录后可查看更多(比价预览页面)</p>
    </div>
</div>
<!-- /比价页面预览-->
	

	</div>
	</div>

<!--可添加的扩展内容 -->
<div class="container mt50 mb50 add-service ml15mr15-xs wow fadeInUp" data-wow-duration="1s">
        <div class="mb15 wow fadeInUp add-service-box" style="visibility: visible; animation-name: fadeInUp;">
        <h4 class="add-service-xiantiao-left hidden-xs">&nbsp;</h4>
        <h4 class="add-service-xiantiao-right hidden-xs">&nbsp;</h4>
            <h1 class="add-service-title">我们能为您提供的服务</h1>
            <p class="p-content pt10">给您最合适的</p>
        </div>
    
        <div class="row mt30 mb30 mt0-sm-xs">
            <div class="col-xs-4 col-xs-offset-1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <h2 class="add-service-child-title mt0-sm-xs mt20-xs">01</h2>
                <h2 style="font-weight: 800;">扩展标题1</h2>
                <h2 class="hidden-sm hidden-xs">Example Title1</h2>
            
                <p>扩展内容1扩展内容1扩展内容1扩展内容1扩展内容1</p>
                <a href="/" class="add-service-button-black mt20">GO<div class="add-service-button-black-right">&gt;</div></a>
            </div>
            
            <div class="col-xs-1">
            </div>

            <div class="col-xs-6 col-xs-4 col-xs-offset-1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <h2 class="add-service-child-title mt0-sm-mt30-xs mt50-xs">02</h2>
                <h2 style="font-weight: 800;">扩展标题2</h2>
                <h2 class="hidden-sm hidden-xs">Example Title2</h2>
                <p>扩展内容2扩展内容2扩展内容2扩展内容2扩展内容2</p>
                <a href="/" class="add-service-button-black mt20">GO<div class="add-service-button-black-right">&gt;</div></a>
            </div>
        </div>
    </div>
<!--/可添加的扩展内容 -->

<!-- 关于数字货币比价平台-->
<div class="compare-index-content ">
<h1 class="mt20 wow fadeInUp"> 关于数字货币比价平台</h1>
<h2 class="wow fadeInUp"> About Compare</h2>
<p class="text-center mt30 wow fadeInUp"> 数字货币比价平台数字货币比价平台数字货币比价平台数字货币比价平台数字货币比价平台数字货币比价平台</p>
</div>
<!--/关于数字货币比价平台-->

<!-- 网站页尾-->
{{template "../tpl/user/user.footer.tpl" .}}
<!-- /网站页尾-->
